{{ 'section-header.css' | asset_url | stylesheet_tag }}

<div class="c-header">
    <div class="header--inner">
        <span class="header-logo logo-text">
            {{ settings.logo_text }}
        </span>
        <button class="cart-button" type="button">
            {{ 'templates.cart.cart' | t }}
        </button>
        <button id="menu" class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
            $('#menu').click(function (e) {
                $(this).toggleClass('is-active');
            });
        }
    );
</script>


{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}