<div class="header">
    <button id="menu" class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner">

            </span>
        </span>
    </button>
    <nav id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><span>About us</span>
                <ul>
                    <li><a href="/about/history/">History</a></li>
                    <li"><a href="/about/team/">The team</a></li>
                    <li><a href="/about/address/">Our address</a></li>
                </ul>
            </li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
            $('#menu').click(function (e) {
                $(this).toggleClass('is-active');
            });
        }
    );
</script>


{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}