.underline {
  border-bottom: 1px dotted var(--sand);
}

.splitted-heading__letter {
  display: inline-block;
}

.footer-heading-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}